@import url("https://fonts.googleapis.com/css2?family=Young+Serif&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: hsl(30, 54%, 90%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5rem 10rem;
}
.card {
  display: flex;
  flex-direction: column;
  background-color: hsl(0, 0%, 100%);
  width: 37rem;
  padding: 2rem;
  border-radius: 1rem;
  margin-bottom: 2rem;
}
.hero {
  border-radius: 1rem;
  background-image: url("/assets/images/image-omelette.jpeg");
  width: 32.8rem;
  height: 15rem;
  background-size: contain;
  margin-bottom: 2rem;
}
.cookTime {
  background-color: hsl(330, 100%, 98%);
  padding: 2rem;
}
.main {
  color: hsl(24, 5%, 18%);
}
.main h1 {
  font-family: "outfit 700";
}
.main p {
  margin-top: 1.2rem;
  font-family: "outfit";
}
