@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: hsl(30, 54%, 90%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5rem 10rem;
}
.card {
  display: flex;
  flex-direction: column;
  background-color: hsl(0, 0%, 100%);
  width: 44rem;
  padding: 2rem;
  border-radius: 1rem;
  margin-bottom: 2rem;
}
.hero {
  border-radius: 1rem;
  background-image: url("/assets/images/image-omelette.jpeg");
  height: 18rem;
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 2rem;
}
.cookTime {
  background-color: hsl(330, 100%, 98%);
  padding: 2rem;
}
.main {
  color: hsl(24, 5%, 18%);
}
.main h1 {
  font-family: "Young Serif", serif;
  font-weight: 400;
  font-style: normal;
}
.main p {
  margin-top: 1.2rem;
  font-family: "outfit";
  color: hsl(30, 10%, 34%);
}

.cookTime{
  background-color: hsl(330, 100%, 98%) ; 
  font-family: "Outfit", serif;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: 10px;
}
.cookTime h4{
  color: hsl(332, 51%, 32%);
}
.cookTime li span{
  color: hsl(24, 5%, 18%);font-weight: bold;

}