
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap');
/*********************************Tag Selector*********************************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(0, 0%, 95%);
  font-size: 0.9375em;
  font-family: "Lexend Deca",sans-serif;
  font-weight: 400;
  margin: auto;
}

p {
  width:74%;
  color: hsla(0, 0%, 100%, 0.75);
  margin-left:40px;
  line-height: 1.8;
}


h2 {
  width:45%;
  font-family: "Big Shoulders Display",cursive;
  font-weight: 900;
  color: hsl(0, 0%, 95%);
  text-transform: uppercase;
  font-size: 2rem;
  margin-top: 35px;
  margin-bottom: 20px;
  margin-left:40px;
}

div {
  display: flex;
  flex-direction: column;
  width: 20rem;
  height: 27rem;
  margin: auto;
}

main {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  overflow: hidden;
  width: 20rem;
  margin: 80px auto 20px auto;
}

img{
  width:18%;
  margin-left:35px;
  margin-top: 45px;
}
/*********************************Class Selector*******************************/
.attribution {
  font-size: 16px;
  text-align: center;
  margin-bottom: 40px;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

.card-one {
  background-color: hsl(31, 77%, 52%);
}
.card-one a {
  color: hsl(31, 77%, 52%);
}
.card-one a:hover {
  background-color: hsl(31, 77%, 52%);
  border: 2px solid hsl(0, 0%, 95%);
  color: hsl(0, 0%, 95%);
}

.card-two {
  background-color: hsl(184, 100%, 22%);
}
.card-two a{
  color: hsl(184, 100%, 22%);
}
.card-two a:hover{
  background-color: hsl(184, 100%, 22%);
  border: 2px solid hsl(0, 0%, 95%);
  color: hsl(0, 0%, 95%);
}

.card-three {
  background-color: hsl(179, 100%, 13%);
}
.card-three a{
  color: hsl(179, 100%, 13%);
}
.card-three a:hover{
  background-color: hsl(179, 100%, 13%);
  border: 2px solid hsl(0, 0%, 95%);
  color: hsl(0, 0%, 95%);
}
.btn {
  border-radius: 40px;
  font-family: Arial;
  background: hsl(0, 0%, 95%);
  padding: 14px 10px 14px 10px;
  text-decoration: none;
  text-align: center;
  width: 40%;
  margin-left:40px;
  margin-top: 25px;

}

.btn:hover {
  text-decoration: none;
}

/*********************************Media Query Desktop *************************/
@media screen and (min-width: 1025px) {
  main {
    display: flex;
    flex-direction: row;
    width: 55rem;
    margin:25vh auto 0 auto;
  }
  div {
    height: 30rem;
  }
  p {
    width:72%;
    margin-bottom: 50px;
  }
  .btn {
    width: 50%;
  }
}
